# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Symfony

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  symfony-tests:
    runs-on: ubuntu-latest
    steps:
    #  To automatically get bug fixes and new Php versions for shivammathur/setup-php,
    # change this to (see https://github.com/shivammathur/setup-php#bookmark-versioning):
    # uses: shivammathur/setup-php@v2
    - uses: shivammathur/setup-php@2cb9b829437ee246e9b3cac53555a39208ca6d28
      with:
        php-version: '8.2'

    - name: Copy .env.test
      run: php -r "file_exists('.env') || copy('.env.test', '.env');"

    - name: Build and run docker
      run: |
        docker compose -f compose.yaml build
        docker compose up
  
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  
    - name: Create Database
      run: |
        bin/console d:d:c -e test
        bin/console d:s:u -f -e test

    - name: Execute tests (Unit and Feature tests) via PHPUnit
      run: bin/phpunit
